extends ../../layout

block content
	#breadcrumbs.breadcrumbs
		script(type="text/javascript").
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		ul.breadcrumb
			li
				i.ace-icon.fa.fa-home.home-icon
				a(href="/index") 主页
			li.active 
				a(href="#") 个人资料
		#nav-search.nav-search
			form.form-search
				span.input-icon
					input#nav-search-input.nav-search-input(type="text", placeholder="Search ...", autocomplete="off")
					i.ace-icon.fa.fa-search.nav-search-icon
	.page-content
		include ../page
		.page-content-area
			.row
				.col-xs-12
					div
						#user-profile-1.user-profile.row
							.col-sm-12
								form.form-horizontal
									.tabbable
										ul.nav.nav-tabs
											li.active
												a(data-toggle='tab', href='#edit-basic')
													i.green.ace-icon.fa.fa-pencil-square-o.bigger-125
													| 	修改资料
										.tab-content.profile-edit-tab-content
											#edit-basic.tab-pane.in.active
												h4.header.blue.bolder.smaller 基本资料
												.row
													.col-xs-12.col-sm-4
														input#header_portrait(type='file')
													.vspace-12-sm
													.col-xs-12.col-sm-8
														.form-group
															label.col-sm-4.control-label.no-padding-right(for='form-field-username') 用户名
															.col-sm-8
																input#form-field-username.col-xs-12.col-sm-10(type='text', placeholder='Username', value='#{user.name}')
														.space-4
														.form-group
															label.col-sm-4.control-label.no-padding-right(for='form-field-first') 真实姓名
															.col-sm-8
																input#form-field-first.col-xs-12.col-sm-10(type='text', placeholder='First Name', value='#{user.name}')
												hr
												.form-group
													label.col-sm-3.control-label.no-padding-right 性别
													.col-sm-9
														label.inline
															input.ace(name='form-field-radio', type='radio')
															span.lbl.middle  男
														label.inline
															input.ace(name='form-field-radio', type='radio')
															span.lbl.middle  女
												.space-4
												.form-group
													label.col-sm-3.control-label.no-padding-right(for='form-field-date') 生日
													.col-sm-9
														.input-medium
															.input-group
																input#form-field-date.input-xlarge.date-picker(type='text', data-date-format='dd-mm-yyyy', placeholder='dd-mm-yyyy')
																span.input-group-addon
																	i.ace-icon.fa.fa-calendar
												.space-4
												.form-group
													label.col-sm-3.control-label.no-padding-right(for='form-field-email') 邮箱
													.col-sm-9
														span.input-icon.input-icon-right
															input#form-field-email.input-xlarge(type='email', value='#{user.email}')
															i.ace-icon.fa.fa-envelope
												.space-4
												.form-group
													label.col-sm-3.control-label.no-padding-right(for='form-field-phone') 手机号
													.col-sm-9
														span.input-icon.input-icon-right
															input#form-field-phone.input-xlarge(type='text',value="#{user.telphone}")
															i.ace-icon.fa.fa-phone.fa-flip-horizontal
												.space-4
												.form-group
													label.col-sm-3.control-label.no-padding-right(for='form-field-comment') 个性签名
													.col-sm-9
														textarea#form-field-comment
												.space
									.clearfix.form-actions
										.col-md-offset-4.col-md-8
											button.btn(type='reset')
												i.ace-icon.fa.fa-undo.bigger-110
												| 	重置
											button.btn.btn-info(type='button')
												i.ace-icon.fa.fa-check.bigger-110
												| 	确定
	script(src="/javascript/account_detail.js")
