extends ../layout

block content
	#breadcrumbs.breadcrumbs
		script(type="text/javascript").
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		ul.breadcrumb
			li.active
				i.ace-icon.fa.fa-home.home-icon
				| 主页
	.page-content
		include ./page
		.page-content-area
			.row
				.col-xs-12
					.page-header
						h1 账单汇总
				.col-sm-6
					.widget-box
						.widget-header.widget-header-flat.widget-header-small.wheader
							h5.widget-title
								i.ace-icon.fa.fa-signal
								| 收支账单
							.pull-right.col-sm-6.col-xs-6
									.input-group
										span.input-group-addon
											i.fa.fa-calendar.bigger-110
										input.form-control#picker1(type="text",readonly="readonly")
						.widget-body
							.widget-main
								#piechart-1
								
	// if lte IE 8
		script(src="/libs/ace/js/excanvas.min.js")
	script(src="/libs/ace/js/jquery.easypiechart.min.js")
	script(src="/libs/ace/js/jquery.sparkline.min.js")
	script(src="/libs/ace/js/flot/jquery.flot.min.js")
	script(src="/libs/ace/js/flot/jquery.flot.pie.min.js")
	script(src="/libs/ace/js/flot/jquery.flot.resize.min.js")
	script(src="/libs/ace/js/date-time/bootstrap-datepicker.min.js")
	script(src="/libs/ace/js/date-time/bootstrap-datepicker.zh-CN.js")


	script(type="text/javascript").
		$(function() {
			var piechart_1 = $('#piechart-1').css({
			'width':'90%' ,
			 'min-height':'150px',
			 'text-align':'center'
			 });
			var data = [];

			function drawPieChart(placeholder, data, position) {
				$.plot(placeholder, data, {
					series: {
						pie: {
							show: true,
							tilt:0.8,
							highlight: {
								opacity: 0.25
							},
							stroke: {
								color: '#fff',
								width: 2
							},
							startAngle: 2
						}	
					},
					legend: {
						show: true,
						position: position || "ne",
						labelBoxBorderColor: null,
						margin:[-30,15]
					},
					grid: {
						hoverable: true,
						clickable: true
						}
					})
				}

			$('#picker1')
			.datepicker({
				language:'zh-CN',
				startView:1,
				minViewMode:1,
				autoclose: true,
				endDate:new Date(),
				format: 'yyyy-mm'
			})
			.on('changeDate', function(e) {
					$.ajax({
						url: '/payment/monthbill',
						type: 'GET',
						dataType: 'json',
						data: {
							date:$('#picker1').val()
						},
						success: function (res) {
					 		if(res.success == 1) {
								data = res.data;
								if(data.length > 0) {
									drawPieChart(piechart_1, data);
								} else {
									piechart_1.html('本月暂无记录');
								}
					 		} else {

					 		}
						},
						error: function (err) {
							alert('请求错误！');
						}
					});
			});
			$('#picker1').datepicker('setDate', new Date());

		})


