doctype
html
	meta(charset='utf-8')
	include ../includes/head
	title #{title}
body.login-layout.light-login
	.main-container
		.main-content
			.row
				.col-sm-10.col-sm-offset-1
					.login-container
						.center
							h1
								i.ace-icon.fa.fa-leaf.green
								span.red 记账&nbsp;&nbsp;
								span#id-text2.white 小助手&nbsp;&nbsp;
							h4#id-company-text.blue © WPP
						.space-6
						.position-relative
							#login-box.login-box.visible.widget-box.no-border
								.widget-body
									.widget-main
										h4.header.blue.lighter.bigger
											i.ace-icon.fa.fa-coffee.green
											| 登录
										.space-6
										form#signin_form(method="POST",action="/user/signin")
											fieldset
												label.block.clearfix
													span.block.input-icon.input-icon-right
														input.form-control(type='text', placeholder='用户名',name="user[name]",id="name")
														i.ace-icon.fa.fa-user
												label.block.clearfix
													span.block.input-icon.input-icon-right
														input.form-control(type='password', placeholder='密码',name="user[password]",id="pwd")
														i.ace-icon.fa.fa-lock
												.space
												.clearfix
													label.inline
														input.ace(type='checkbox')
														span.lbl  记住密码
													button.width-35.pull-right.btn.btn-sm.btn-primary(type='button',id="signin_submit")
														i.ace-icon.fa.fa-key
														span.bigger-110 登录
													.space-4
									.toolbar.clearfix
										div
											a.forgot-password-link(href="#", data-target="#forgot-box")
												i.ace-icon.fa.fa-arrow-left 忘记密码
										div
											a.user-signup-link(href="#", data-target="#signup-box")
												i.ace-icon.fa.fa-arrow-right 注册
							#forgot-box.forgot-box.widget-box.no-border
								.widget-body
									.widget-main
										h4.header.red.lighter.bigger
											i.ace-icon.fa.fa-key
											| 忘记密码
										.space-6
										p 请填写以下信息：
										form
											fieldset
												label.block.clearfix
													span.block.input-icon.input-icon-right
														input.form-control(type="text", placeholder="用户名",,name="forgetuser[name]",id="forget_name")
														i.ace-icon.fa.fa-user
												label.block.clearfix
													span.block.input-icon.input-icon-right
														input.form-control(type="email", placeholder="邮箱",name="forgetuser[email]",id="forget_email")
														i.ace-icon.fa.fa-envelope
												label.block.clearfix
													span.block.input-icon.input-icon-right
														input.form-control(type="text", placeholder="电话",name="forgetuser[telphone]",id="forget_tel")
														i.ace-icon.fa.fa-telphone
												.clearfix
													button.width-30.pull-left.btn.btn-sm(type="reset")
														i.ace-icon.fa.fa-refresh
														span.bigger-110 重新输入
													button.width-35.pull-right.btn.btn-sm.btn-danger(type="button",id="forget_submit")
														i.ace-icon.fa.fa-lightbulb-o
														span.bigger-110 确定
									.toolbar.center
										a.back-to-login-link(href="#", data-target="#login-box") 返回登录页
											i.ace-icon.fa.fa-arrow-right
							#signup-box.signup-box.widget-box.no-border
								.widget-body
									.widget-main
										h4.header.green.lighter.bigger
											i.ace-icon.fa.fa-users.blue
											| 注册
										.space-6
										p  请填写以下信息：
										form#signup_form(method="POST",action="/user/signup")
											fieldset
												label.block.clearfix
													span.block.input-icon.input-icon-right
														input.form-control(type="text", placeholder="用户名",name="newuser[name]",id="new_name")
														i.ace-icon.fa.fa-user
												label.block.clearfix
													span.block.input-icon.input-icon-right
														input.form-control(type="email", placeholder="邮箱",name="newuser[email]",id="new_email")
														i.ace-icon.fa.fa-envelope
												label.block.clearfix
													span.block.input-icon.input-icon-right
														input.form-control(type="text", placeholder="电话",name="newuser[telphone]",id="new_tel")
														i.ace-icon.fa.fa-telphone
												label.block.clearfix
													span.block.input-icon.input-icon-right
														input.form-control(type="password", placeholder="密码",name="newuser[password]",id="new_pwd")
														i.ace-icon.fa.fa-lock
												label.block.clearfix
													span.block.input-icon.input-icon-right
														input.form-control(type="password", placeholder="再次输入密码",id="new_pwd_confirm")
														i.ace-icon.fa.fa-retweet
												.space-24
												.clearfix
													button.width-30.pull-left.btn.btn-sm(type="reset")
														i.ace-icon.fa.fa-refresh
														span.bigger-110 重新输入
													button.width-65.pull-right.btn.btn-sm.btn-success(type="button" id="signup_submit")
														span.bigger-110 注册
														i.ace-icon.fa.fa-arrow-right.icon-on-right
									.toolbar.center
										a.back-to-login-link(href="#", data-target="#login-box")
											i.ace-icon.fa.fa-arrow-left 返回登录页 
						.navbar-fixed-top.align-right
							br
							a#btn-login-dark(href="#") Dark&nbsp;&nbsp; 
							span.blue /
							a#btn-login-blur(href="#") &nbsp;&nbsp;Blur&nbsp;&nbsp; 
							span.blue /
							a#btn-login-light(href="#") &nbsp;&nbsp;Light&nbsp;&nbsp;
	include ../includes/foot
	script(src="/javascript/login.js")
