script(src="/libs/ace/js/bootstrap.min.js")

// if lte IE 8
	script(src="/libs/ace/js/excanvas.min.js")

script(src="/libs/ace/js/jquery-ui.custom.min.js")
script(src="/libs/ace/js/bootbox.min.js")
script(src="/libs/ace/js/jquery.tips.js")
script(src="/libs/ace/js/jquery.easypiechart.min.js")
script(src="/libs/ace/js/jquery.gritter.min.js")
script(src="/libs/ace/js/spin.min.js")
script(src="/libs/ace/js/jquery.hotkeys.min.js")
script(src="/libs/ace/js/bootstrap-wysiwyg.min.js")

script(src="/libs/ace/js/fuelux/fuelux.spinner.min.js")
script(src="/libs/ace/js/x-editable/bootstrap-editable.min.js")
script(src="/libs/ace/js/x-editable/ace-editable.min.js")
script(src="/libs/ace/js/jquery.maskedinput.min.js")

script(src="/libs/ace/js/jquery.dataTables.min.js")
script(src="/libs/ace/js/jquery.dataTables.bootstrap.js")
script(src="/libs/ace/js/date-time/bootstrap-datepicker.min.js")
script(src="/libs/ace/js/date-time/bootstrap-datepicker.zh-CN.js")

script(src="/libs/ace/js/ace-elements.min.js")
script(src="/libs/ace/js/ace.min.js")

link(rel="stylesheet", href="/libs/ace/css/ace.onpage-help.css")
link(rel="stylesheet", href="/libs/ace/docs/assets/themes/sunburst.css")

script(type='text/javascript').
	ace.vars['base'] = '..';

script(src="/libs/ace/js/ace/elements.onpage-help.js")
script(src="/libs/ace/js/ace/ace.onpage-help.js")
script(src="/libs/ace/docs/assets/rainbow.js")
script(src="/libs/ace/docs/assets/language/generic.js")
script(src="/libs/ace/docs/assets/language/html.js")
script(src="/libs/ace/docs/assets/language/css.js")
script(src="/libs/ace/docs/assets/language/javascript.js")
