.footer
  .footer-inner
    .footer-content
      span.bigger-120
        span.blue.bolder wpp&nbsp;&nbsp;&nbsp;
        | 掌中有账 © 2017
      span.action-buttons
        a(href="#")
          i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
        a(href="#")
          i.ace-icon.fa.fa-facebook-square.text-primary.bigger-150
        a(href="#")
          i.ace-icon.fa.fa-rss-square.orange.bigger-150
  a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse(href="#")
    i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110
