meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
meta(name="description" content="掌中有账")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
// bootstrap & fontawesome
link(rel="stylesheet",href="/libs/ace/css/bootstrap.min.css" )
link(rel="stylesheet",href="/libs/ace/css/datepicker.css" )
link(rel="stylesheet",href="/libs/ace/css/font-awesome.min.css" )
// text fonts
link(rel="stylesheet",href="/libs/ace/css/ace-fonts.css" )
// ace styles
link(rel="stylesheet",href="/libs/ace/css/ace.min.css" )

// if lte IE 9
	link(rel="stylesheet",href="/libs/ace/css/ace-part2.min.css" )

link(rel="stylesheet",href="/libs/ace/css/ace-rtl.min.css" )

// if lte IE 9
	link(rel="stylesheet",href="/libs/ace/css/ace-ie.min.css" )

link(rel="stylesheet",href="/libs/ace/css/ace.onpage-help.css" )
script(src='/libs/ace/js/jquery.min.js')
// if IE
	script(src='/libs/ace/js/jquery1x.min.js')
		
// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
// ace settings handler
script(src="/libs/ace/js/ace-extra.min.js")
// if lt IE 9
	script(src="/libs/ace/js/html5shiv.js")
	script(src="/libs/ace/js/respond.min.js")

style(type='text/css').
	#sample th,#sample tr {text-align:center;}

