#navbar.navbar.navbar-default
  script(type="text/javascript").
    try{ace.settings.check('navbar' , 'fixed')}catch(e){}
  #navbar-container.navbar-container
    button#menu-toggler.navbar-toggle.menu-toggler.pull-left(type="button")
      span.sr-only Toggle sidebar
      span.icon-bar
      span.icon-bar
      span.icon-bar
    .navbar-header.pull-left
      a.navbar-brand(href="#")
        small
          i.fa.fa-leaf
          | 记账小助手
    .navbar-buttons.navbar-header.pull-right(role="navigation")
      ul.nav.ace-nav
        li.light-blue
          a.dropdown-toggle(data-toggle="dropdown", href="#")
            img.nav-user-photo(src="/libs/ace/avatars/profile-pic.jpg", alt="Jason's Photo")
            span.user-info
              small Welcome,
              | #{user.name}
            i.ace-icon.fa.fa-caret-down
          ul.user-menu.dropdown-menu-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
            li
              a(href="/user/detail")
                i.ace-icon.fa.fa-user
                | 个人资料
            li
              a(href="/user/changepassword")
                i.ace-icon.fa.fa-lock
                | 密码修改
            li.divider
            li
              a(href="/logout")
                i.ace-icon.fa.fa-power-off
                | 退出
#main-container.main-container
  script(type="text/javascript").
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
  #sidebar.sidebar.responsive
    script(type="text/javascript").
      try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    #sidebar-shortcuts.sidebar-shortcuts
      #sidebar-shortcuts-large.sidebar-shortcuts-large
        button.btn.btn-success
          i.ace-icon.fa.fa-signal
        button.btn.btn-info
          i.ace-icon.fa.fa-pencil
        button.btn.btn-warning
          i.ace-icon.fa.fa-users
        button.btn.btn-danger
          i.ace-icon.fa.fa-cogs
      #sidebar-shortcuts-mini.sidebar-shortcuts-mini
        span.btn.btn-success
        span.btn.btn-info
        span.btn.btn-warning
        span.btn.btn-danger
    ul.nav.nav-list
      li.hover
        a(href="/index")
          i.menu-icon.fa.fa-tachometer
          span.menu-text  后台首页 
        b.arrow
      if user.role >= 10
        li.hover
          a.dropdown-toggle(href="#")
            i.menu-icon.fa.fa-tachometer
            span.menu-text  用户管理 
            b.arrow.fa.fa-angle-down
          b.arrow
          ul.submenu
            li.hover
              a(href="/admin/list")
                i.menu-icon.fa.fa-caret-right
                | 用户列表
              b.arrow
      li.hover
        a.dropdown-toggle(href="#")
          i.menu-icon.fa.fa-pencil-square-o
          span.menu-text  收支管理 
          b.arrow.fa.fa-angle-down
        b.arrow
        ul.submenu
          li.hover
            a(href="/payment/add")
              i.menu-icon.fa.fa-caret-right
              | 增加记录
            b.arrow
          li.hover
            a(href="/payment/list")
              i.menu-icon.fa.fa-caret-right
              | 查看收支
            b.arrow
      li.hover
        a.dropdown-toggle(href="#")
          i.menu-icon.fa.fa-credit-card 
          span.menu-text  资产管理 
          b.arrow.fa.fa-angle-down
        b.arrow
        ul.submenu
          li.hover
            a(href="/assets/add")
              i.menu-icon.fa.fa-caret-right
              | 增加资产
            b.arrow
          li.hover
            a(href="/assets/list")
              i.menu-icon.fa.fa-caret-right
              | 查看资产
            b.arrow
      li.hover
        a.dropdown-toggle(href="#")
          i.menu-icon.fa.fa-flag
          span.menu-text  债券管理
          b.arrow.fa.fa-angle-down
        b.arrow
        ul.submenu
          li.hover
            a(href="/bond/add")
              i.menu-icon.fa.fa-caret-right
              | 增加债券
            b.arrow
          li.hover
            a(href="/bond/list")
              i.menu-icon.fa.fa-caret-right
              | 查看债券
            b.arrow
      li.hover
        a.dropdown-toggle(href="#")
          i.menu-icon.fa.fa-desktop
          span.menu-text 股票管理
          b.arrow.fa.fa-angle-down
        b.arrow
        ul.submenu
          li.hover
            a(href="/share/add")
              i.menu-icon.fa.fa-caret-right
              | 增加股票
            b.arrow
          li.hover
            a(href="/share/list")
              i.menu-icon.fa.fa-caret-right
              | 查看股票
            b.arrow
      li.hover
        a.dropdown-toggle(href="#")
          i.menu-icon.fa.fa-exchange
          span.menu-text  借贷管理 
          b.arrow.fa.fa-angle-down
        b.arrow
        ul.submenu
          li.hover
            a(href="/borrowing/add")
              i.menu-icon.fa.fa-caret-right
              | 增加记录
            b.arrow
          li.hover
            a(href="/borrowing/list")
              i.menu-icon.fa.fa-caret-right
              | 查看借贷
            b.arrow
      li.hover
        a.dropdown-toggle(href="#")
          i.menu-icon.fa.fa-heart
          span.menu-text  心愿单
          b.arrow.fa.fa-angle-down
        b.arrow
        ul.submenu
          li.hover
            a(href="/wishlist/add")
              i.menu-icon.fa.fa-caret-right
              | 增加记录
            b.arrow
          li.hover
            a(href="/wishlist/list")
              i.menu-icon.fa.fa-caret-right
              | 查看记录
            b.arrow
      
    #sidebar-collapse.sidebar-toggle.sidebar-collapse
      i.ace-icon.fa.fa-angle-double-left(data-icon1="ace-icon fa fa-angle-double-left", data-icon2="ace-icon fa fa-angle-double-right")
    script(type="text/javascript").
      try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
      try{ace.settings.check('submenu' , 'hover')}catch(e){}
  .main-content
    block content
  include ./footer
